Django
Pillow
boto3
botocore
chardet
colorama
dj-database-url
django-forms-bootstrap==3.1.0
django-storages
docutils
gunicorn
html5lib==0.999999999
jmespath
olefile
psycopg2-binary
python-dateutil
pytz
requests
s3transfer
six
stripe==1.70.0
urllib3
wheel
